<%
   bill_address = @order.bill_address
   ship_address = @order.ship_address
   addresses = []
   addresses << ["#{bill_address.lastname} #{bill_address.firstname} 様", "#{ship_address.lastname} #{ship_address.firstname} 様"]
   addresses << ["〒 #{bill_address.zipcode}", "〒 #{ship_address.zipcode}"]
   addresses << ["#{(bill_address.state.name)} #{bill_address.city}", "#{(ship_address.state.name)} #{ship_address.city}"]
   addresses << [bill_address.address1, ship_address.address1]
   addresses << [bill_address.address2, ship_address.address2] if bill_address.address2.present? or ship_address.address2.present?
   addresses << ["TEL #{bill_address.phone}", "TEL #{ship_address.phone}"]
%>
<table class="address">
  <tr>
    <td width="45%" class="billing_header bold"><%= Spree.t(:billing_address) %></td>
    <td width="17%"></td>
    <td width="45%" class="shiping_header bold"><%= Spree.t(:shipping_address) %></td>
  </tr>
  <% addresses.each do |row| %>
    <tr>
      <td height="15px" width="45%" class="billing" class="cell"><%= row[0] %> </td>
      <td width="17%"></td>
      <td height="15px" width="45%" class="shiping_header" class="cell"><%= row[1] %> </td>
    </tr>
  <% end %>
</table>

